#gitignore file to avoid pushing files that are too big

VC Example/

venv/

*.egg-info/

.env/

.vs/ #these are visual studio cache files

*.tar

*.pyd #ignore these, artifacts from installing python stuff like OpenCV

__pycache__/